// Project specific mixins and variables

// paths
$path-images: "../../assets/images";


// Main sizes ==========================================

$sitewidth:1600px;
$content-width:1000px;

// colors ==============================================

$black:#000000;
$white: #ffffff;
$off-white: #f9f9f9;
$off-black: #1f1f1f;
$color-dark-gray:#4B4B4B;
$darken-overlay:rgba(black, .05);
$white-darken:darken($white, 5);
$black-lighten:lighten($black, 20);

$color-primary:rgb(33, 32, 31);
$color-primary-feint:lighten($color-primary, 30);
$color-secondary:#21c4d3;
$color-secondary-feint:lighten($color-secondary, 30);
$color-accent:#21c4d3;

$color-bg-beige:#fffbf4;
$color-bg-grey:#EFEFEF;

$color-feint:#f2f2f2;
$color-feint-1:#f2f2f2;
$color-feint-2:#EBEBEB;
$color-feint-3:#E3E3E3;
$color-feint-4:#D4D4D4;

// backgrounds
$color-header-bg:$white;
$color-bg:$white;

// link color
$color-link:$color-secondary;
$color-text:$black;

// button colour
$color-button:$color-primary;

// misc
$color-tagline:$black;
$color-selection:$color-accent;

// Some variables and mixins ==============================================

// margins
$gap:5rem;
$gap--tight:4rem;
$gap--deep:12rem;
$gap--responsive--tight:clamp(#{$gap/4}, 1.5vw, #{$gap/2});
$gap--responsive:clamp(#{$gap/4}, 3vw, #{$gap});
$gap--responsive--thick:clamp(#{$gap/2}, 6vw, #{$gap*2});
$margin-std:1.5rem;


// header ==============================================

$header-height:180px;
$header-height-mobile:80px;
$header-height-scroll:80px;

// misc styles =========================================

// box and lines border lines
$line: 4px solid $black;
$line-feint:1px solid $black-lighten;

// text shadow
$text-shadow: 0 2px 3px rgba($black, .3);
$text-shadow-feint: 0 1px 2px rgba($black, .3);

// raised item shadow
$box-shadow:0px 3px 12px rgba($black, .1);

// borders
$border-feint: rgba($black, 0.2) solid 1px;
$border-accent: $color-secondary solid 2px;
$border-accent-feint: rgba($color-secondary, 0.2) solid 1px;

// border radius
$border-radius: 2px;