@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@400;600&display=swap");
html, body {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

button {
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

svg {
  fill: currentColor;
}

img {
  margin: 0;
  padding: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

input, textarea, select, button {
  font-size: inherit;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
  color: inherit;
}

html {
  font-family: "Archivo", sans-serif;
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  line-height: 1.7;
  background-color: #ffffff;
  color: #000000;
}
@media screen and (min-width: 560px) {
  body {
    font-size: 1.6rem;
  }
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  height: 80px;
}
@media screen and (min-width: 1280px) {
  .header {
    height: 120px;
  }
}

main {
  position: relative;
  padding-top: 80px;
  flex-grow: 1;
}
@media screen and (min-width: 1280px) {
  main {
    padding-top: 120px;
  }
}

footer {
  flex-shrink: 0;
}

a {
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

html {
  scroll-behavior: smooth;
}

svg path {
  fill: yellow !important;
}

.text-blocky {
  font-family: "Archivo", sans-serif;
  line-height: 1.7;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
}
.text-blocky p {
  line-height: 1.7;
  font-size: 1.4rem;
}

.text-blocky--lower {
  font-family: "Archivo", sans-serif;
  line-height: 1.7;
  font-weight: 600;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 560px) {
  .text-blocky--lower {
    font-size: 1.4rem;
  }
}
.text-blocky--lower p {
  line-height: 1.7;
}

.text-blocky--tiny {
  font-family: "Archivo", sans-serif;
  line-height: 1.7;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 1.2rem;
}
.text-blocky--tiny p {
  line-height: 1.7;
  font-size: 1.2rem;
}

.body-content, .article__body, .pillar-head__body, .pillar__section__body {
  font-family: "Archivo", sans-serif;
  line-height: 1.7;
}
.body-content h1, .article__body h1, .pillar-head__body h1, .pillar__section__body h1, .body-content h2, .article__body h2, .pillar-head__body h2, .pillar__section__body h2, .body-content h3, .article__body h3, .pillar-head__body h3, .pillar__section__body h3, .body-content h4, .article__body h4, .pillar-head__body h4, .pillar__section__body h4, .body-content h5, .article__body h5, .pillar-head__body h5, .pillar__section__body h5, .body-content img, .article__body img, .pillar-head__body img, .pillar__section__body img, .body-content p, .article__body p, .pillar-head__body p, .pillar__section__body p, .body-content ul, .article__body ul, .pillar-head__body ul, .pillar__section__body ul, .body-content li, .article__body li, .pillar-head__body li, .pillar__section__body li {
  margin-bottom: 2rem;
}
@media screen and (min-width: 700px) {
  .body-content h1, .article__body h1, .pillar-head__body h1, .pillar__section__body h1, .body-content h2, .article__body h2, .pillar-head__body h2, .pillar__section__body h2, .body-content h3, .article__body h3, .pillar-head__body h3, .pillar__section__body h3, .body-content h4, .article__body h4, .pillar-head__body h4, .pillar__section__body h4, .body-content h5, .article__body h5, .pillar-head__body h5, .pillar__section__body h5, .body-content img, .article__body img, .pillar-head__body img, .pillar__section__body img, .body-content p, .article__body p, .pillar-head__body p, .pillar__section__body p, .body-content ul, .article__body ul, .pillar-head__body ul, .pillar__section__body ul, .body-content li, .article__body li, .pillar-head__body li, .pillar__section__body li {
    margin-bottom: 4rem;
  }
}
.body-content img, .article__body img, .pillar-head__body img, .pillar__section__body img {
  width: 100%;
  max-width: 1000px;
}
.body-content h1, .article__body h1, .pillar-head__body h1, .pillar__section__body h1, .body-content h2, .article__body h2, .pillar-head__body h2, .pillar__section__body h2, .body-content h3, .article__body h3, .pillar-head__body h3, .pillar__section__body h3, .body-content h4, .article__body h4, .pillar-head__body h4, .pillar__section__body h4, .body-content h5, .article__body h5, .pillar-head__body h5, .pillar__section__body h5 {
  color: #21201f;
  line-height: 1.2;
  color: #21201f;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 3.2rem;
}
@media screen and (max-width: 560px) {
  .body-content h1, .article__body h1, .pillar-head__body h1, .pillar__section__body h1, .body-content h2, .article__body h2, .pillar-head__body h2, .pillar__section__body h2, .body-content h3, .article__body h3, .pillar-head__body h3, .pillar__section__body h3, .body-content h4, .article__body h4, .pillar-head__body h4, .pillar__section__body h4, .body-content h5, .article__body h5, .pillar-head__body h5, .pillar__section__body h5 {
    word-break: break-word;
  }
}
.body-content h1, .article__body h1, .pillar-head__body h1, .pillar__section__body h1, .body-content h2, .article__body h2, .pillar-head__body h2, .pillar__section__body h2 {
  font-size: 3.2rem;
}
.body-content h3, .article__body h3, .pillar-head__body h3, .pillar__section__body h3 {
  font-size: 2.2rem;
}
.body-content h4, .article__body h4, .pillar-head__body h4, .pillar__section__body h4, .body-content h5, .article__body h5, .pillar-head__body h5, .pillar__section__body h5 {
  font-size: inherit;
  color: inherit;
}
.body-content p, .article__body p, .pillar-head__body p, .pillar__section__body p {
  font-size: 1.6rem;
  line-height: 2;
}
.body-content p, .article__body p, .pillar-head__body p, .pillar__section__body p, .body-content ol, .article__body ol, .pillar-head__body ol, .pillar__section__body ol, .body-content ul, .article__body ul, .pillar-head__body ul, .pillar__section__body ul, .body-content .cite, .article__body .cite, .pillar-head__body .cite, .pillar__section__body .cite, .body-content pre, .article__body pre, .pillar-head__body pre, .pillar__section__body pre {
  max-width: 1000px;
}
.body-content ul, .article__body ul, .pillar-head__body ul, .pillar__section__body ul {
  box-sizing: border-box;
}
.body-content li, .article__body li, .pillar-head__body li, .pillar__section__body li {
  width: calc(100% - 1em);
  list-style: none;
  position: relative;
  padding-left: 1em;
}
.body-content li:before, .article__body li:before, .pillar-head__body li:before, .pillar__section__body li:before {
  content: "■";
  color: #21c4d3;
  position: absolute;
  left: 0;
  top: 0;
}
.body-content > *:last-child, .article__body > *:last-child, .pillar-head__body > *:last-child, .pillar__section__body > *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.body-content pre, .article__body pre, .pillar-head__body pre, .pillar__section__body pre {
  background-color: #ffffff;
  padding: 1em;
}

.container {
  width: 100vw;
  max-width: 1600px;
  margin: 0 auto;
}

.container--margins {
  width: 100vw;
  padding: 2rem;
  max-width: 1600px;
  margin: 0 auto;
}
@media screen and (min-width: 700px) {
  .container--margins {
    padding: 4rem;
  }
}
@media screen and (min-width: 1600px) {
  .container--margins {
    padding: 0;
  }
}
@media screen and (min-width: 1600px) {
  .container--margins {
    width: 100vw;
    padding: 2rem;
    max-width: 1600px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1600px) and (min-width: 700px) {
  .container--margins {
    padding: 4rem;
  }
}
@media screen and (min-width: 1600px) and (min-width: 1600px) {
  .container--margins {
    padding: 0;
  }
}

.panel {
  width: 100vw;
}
.panel__inner {
  width: 100vw;
  max-width: 1600px;
  margin: 0 auto;
}
.panel__inner--margins {
  width: 100vw;
  padding: 2rem;
  max-width: 1600px;
  margin: 0 auto;
}
@media screen and (min-width: 700px) {
  .panel__inner--margins {
    padding: 4rem;
  }
}
@media screen and (min-width: 1600px) {
  .panel__inner--margins {
    padding: 0;
  }
}
.panel__divider {
  border: none;
  height: 4px;
  background: #21201f;
  margin-bottom: 2rem;
}
@media screen and (min-width: 700px) {
  .panel__divider {
    margin-bottom: 4rem;
  }
}
.panel__title {
  font-family: "Archivo", sans-serif;
  line-height: 1.7;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.panel__title p {
  line-height: 1.7;
  font-size: 1.4rem;
}
@media screen and (min-width: 700px) {
  .panel__title {
    margin-bottom: 4rem;
  }
}

.tagline {
  color: #000000;
  text-transform: uppercase;
  display: block;
  font-size: 0.8em;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
}

p, ul, ol {
  padding: 0;
  margin: 0;
  line-height: 1.7;
  list-style: none;
}

ul li {
  margin-bottom: 1em;
}
@media screen and (min-width: 560px) {
  ul li {
    margin-bottom: 0.5em;
  }
}

a {
  text-decoration: none;
  color: #21201f;
}

::selection {
  background: #21c4d3;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.nobreak {
  white-space: nowrap;
}

img {
  border-radius: none;
}

.component--reverse {
  color: #ffffff;
  background-color: #21201f;
}
.component--reverse a {
  color: #ffffff;
}

.component-title {
  font-family: "Archivo", sans-serif;
  line-height: 1.7;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
  padding-bottom: 4rem;
}
.component-title p {
  line-height: 1.7;
  font-size: 1.4rem;
}

.button {
  cursor: pointer;
  border-radius: 3px;
  padding: 1em;
  display: inline-block;
  width: auto;
  text-align: center;
  position: relative;
  text-decoration: none !important;
  background-color: #21201f;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.button:hover {
  color: #ffffff;
  background-color: #141313;
}
.button:active {
  color: #ffffff;
  background-color: #141313;
}
@media screen and (min-width: 560px) {
  .button {
    padding: 1em 1.3em;
  }
}
.button--alt {
  background-color: #ffffff;
  color: #21201f;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.button--alt:hover {
  color: #21c4d3;
  background-color: #f2f2f2;
}
.button--alt:active {
  color: #21c4d3;
  background-color: #f2f2f2;
}
.button--outline {
  background-color: transparent;
  color: #21201f;
  border: #21201f 1px solid;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.button--outline:hover {
  color: #ffffff;
  background-color: #141313;
}
.button--outline:active {
  color: #ffffff;
  background-color: #141313;
}
.button__inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button--small {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4;
}
@media screen and (min-width: 560px) {
  .button--small {
    padding: 0.8em 1em;
  }
}

.locations-listing {
  padding-top: 2rem;
}
@media screen and (min-width: 700px) {
  .locations-listing {
    padding-top: 8rem;
  }
}
.locations-listing__card {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.locations-listing__card__image {
  display: block;
  position: relative;
  margin: 0 0 2rem 0;
  width: 100%;
}
.locations-listing__card__image__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.locations-listing__card__title {
  margin: 0 0 1rem 0;
  font-family: "Archivo", sans-serif;
  line-height: 1.2;
  font-weight: 600;
  font-size: 1.4rem;
}
@media screen and (min-width: 700px) {
  .locations-listing__card__title {
    font-size: 1.8rem;
  }
}
.locations-listing__card__description {
  font-size: 1.4rem;
  line-height: 1.2;
}
@media screen and (min-width: 700px) {
  .locations-listing__card__description {
    font-size: 1.6rem;
    font-family: "Archivo", sans-serif;
    line-height: 1.7;
  }
}

.megamenu {
  width: 100%;
  background-color: black;
  position: fixed;
  top: 120px;
  left: 0;
  display: none;
}
.megamenu__main {
  display: flex;
  flex-direction: row;
}
.megamenu__col {
  flex-grow: 1;
  background-color: white;
  min-height: 300px;
}

.sidebar-list__title {
  font-family: "Archivo", sans-serif;
  line-height: 1.7;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.sidebar-list__title p {
  line-height: 1.7;
  font-size: 1.4rem;
}
@media screen and (min-width: 700px) {
  .sidebar-list__title {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 960px) {
  .sidebar-list__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    grid-auto-rows: auto;
  }
}
.sidebar-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  margin-bottom: 0;
}
.sidebar-list__item:first-of-type {
  border-top: 0;
  padding-top: 0;
}
.sidebar-list__item__title {
  line-height: 1.4;
  font-size: 1.4rem;
  line-height: 1.2;
}
@media screen and (min-width: 700px) {
  .sidebar-list__item__title {
    font-size: 1.6rem;
    font-family: "Archivo", sans-serif;
    line-height: 1.7;
  }
}
.sidebar-list__item__image {
  display: block;
  width: 40%;
  padding-right: 1em;
  flex-shrink: 0;
}
.sidebar-list__item__image img {
  display: block;
  height: auto;
}

.share {
  display: flex;
  align-items: center;
  background: #ffffff;
}
.share > * {
  color: #000000;
}
.share__title {
  font-family: "Archivo", sans-serif;
  line-height: 1.7;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 1.2rem;
  padding-right: 1rem;
  margin: 0;
}
.share__title p {
  line-height: 1.7;
  font-size: 1.2rem;
}
.share__links {
  display: flex;
}
.share__links__item {
  display: block;
  margin: 5px 10px;
  width: 20px;
  height: 20px;
}
.share__links__item svg {
  width: 20px;
  height: 20px;
}
.share__links__item:last-of-type {
  padding-right: 0;
}

.pillar .grid-space {
  padding: 0;
  display: none;
}
@media screen and (min-width: 1280px) {
  .pillar .grid-space {
    display: block;
  }
}
.pillar__space-left {
  grid-area: spaceleft;
}
.pillar__space-right {
  grid-area: spaceright;
}
.pillar__section {
  margin-top: 80px;
}
@media screen and (min-width: 1280px) {
  .pillar__section {
    margin-top: 120px;
  }
}
@media screen and (min-width: 960px) {
  .pillar__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto 1fr;
    grid-template-areas: ". section_title section_title" ". section_intro section_intro" "section_asidemain section_featured-image section_featured-image" "section_asidemain section_body section_body" "section_asidecontent section_body section_body";
  }
}
@media screen and (min-width: 1280px) {
  .pillar__section {
    grid-template-columns: 1fr minmax(0, 400px) minmax(0, 400px) minmax(0, 400px) minmax(0, 400px) 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: "spaceleft . section_title section_title section_title spaceright" "spaceleft . section_intro section_intro section_intro spaceright" "spaceleft section_asidemain section_featured-image section_featured-image section_asidecontent spaceright" "spaceleft section_asidemain section_body section_body section_asidecontent spaceright";
  }
}
.pillar__section__title {
  grid-area: section_title;
}
.pillar__section__intro {
  grid-area: section_intro;
}
.pillar__section__featured-image {
  grid-area: section_featured-image;
}
.pillar__section__asidecontent {
  grid-area: section_asidecontent;
}
.pillar__section__body {
  grid-area: section_body;
}
.pillar__section__asidemain {
  grid-area: section_asidemain;
}
.pillar__section__title {
  padding: 2rem;
}
@media screen and (min-width: 700px) {
  .pillar__section__title {
    padding: 4rem;
  }
}
.pillar__section__title__line {
  height: 4px;
  width: 100%;
  background-color: #000000;
  margin-bottom: 2rem;
}
@media screen and (min-width: 700px) {
  .pillar__section__title__line {
    margin-bottom: 4rem;
  }
}
.pillar__section__title__title {
  line-height: 1.2;
  color: #21201f;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 4rem;
}
@media screen and (max-width: 560px) {
  .pillar__section__title__title {
    word-break: break-word;
  }
}
.pillar__section__featured-image {
  background: #ffffff;
  padding: 0 2rem 2rem 2rem;
}
.pillar__section__featured-image__image {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 700px) {
  .pillar__section__featured-image {
    padding: 0 4rem 4rem 4rem;
  }
}
.pillar__section__intro {
  background: #ffffff;
  padding: 0 2rem 2rem 2rem;
}
@media screen and (min-width: 700px) {
  .pillar__section__intro {
    padding: 0 4rem 4rem 4rem;
  }
}
@media screen and (min-width: 1600px) {
  .pillar__section__intro {
    padding: 0 0 4rem 4rem;
  }
}
.pillar__section__intro p {
  font-family: "Archivo", sans-serif;
  font-size: 2.2rem;
  line-height: 1.4;
}
@media screen and (min-width: 700px) {
  .pillar__section__intro p {
    font-size: 2.8rem;
    line-height: 1.4;
  }
}
.pillar__section__body {
  padding: 0 2rem;
}
@media screen and (min-width: 700px) {
  .pillar__section__body {
    padding: 0 4rem;
  }
}
.pillar__section__asidemain {
  padding: 2rem;
  display: none;
}
@media screen and (min-width: 700px) {
  .pillar__section__asidemain {
    padding: 4rem 0 4rem 4rem;
  }
}
@media screen and (min-width: 960px) {
  .pillar__section__asidemain {
    display: block;
    padding: 0 0 4rem 4rem;
  }
}
.pillar__section__asidemain p {
  display: none;
}
.pillar__section__asidecontent {
  padding: 2rem;
}
@media screen and (min-width: 700px) {
  .pillar__section__asidecontent {
    padding: 4rem 0 4rem 4rem;
  }
}
@media screen and (min-width: 960px) {
  .pillar__section__asidecontent {
    padding: 0 0 4rem 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .pillar__section__asidecontent {
    padding: 0 4rem 0 0;
  }
}
.pillar__section__asidecontent p {
  display: none;
}

@media screen and (min-width: 960px) {
  .pillar-head {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "asidemain share share" "asidemain body body" "asidecontent body body";
  }
}
@media screen and (min-width: 1280px) {
  .pillar-head {
    grid-template-columns: 1fr minmax(0, 400px) minmax(0, 400px) minmax(0, 400px) minmax(0, 400px) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "spaceleft share body body asidecontent spaceright" "spaceleft asidemain body body asidecontent spaceright";
  }
}
.pillar-head__share {
  grid-area: share;
}
.pillar-head__body {
  grid-area: body;
}
.pillar-head__asidecontent {
  grid-area: asidecontent;
}
.pillar-head__asidemain {
  grid-area: asidemain;
}
.pillar-head__body {
  padding: 2rem;
}
@media screen and (min-width: 700px) {
  .pillar-head__body {
    padding: 4rem;
  }
}
@media screen and (min-width: 960px) {
  .pillar-head__body {
    padding: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .pillar-head__body {
    padding: 0 4rem;
  }
}
.pillar-head__asidecontent {
  padding: 2rem;
}
@media screen and (min-width: 700px) {
  .pillar-head__asidecontent {
    padding: 4rem 0 4rem 4rem;
  }
}
@media screen and (min-width: 960px) {
  .pillar-head__asidecontent {
    padding: 0 4rem 0 4rem;
  }
}
.pillar-head__asidecontent p {
  display: none;
}
.pillar-head__asidemain {
  padding: 0 2rem;
}
@media screen and (min-width: 700px) {
  .pillar-head__asidemain {
    padding: 4rem 0 4rem 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .pillar-head__asidemain {
    padding: 0 0 4rem 0;
  }
}
.pillar-head__asidemain p {
  display: none;
}
.pillar-head__share {
  padding: 0 2rem;
}
@media screen and (min-width: 700px) {
  .pillar-head__share {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .pillar-head__share {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    padding: 4rem 0;
  }
}

.article .grid-space {
  padding: 0;
  display: none;
}
@media screen and (min-width: 1280px) {
  .article .grid-space {
    display: block;
  }
}
.article__space-left {
  grid-area: spaceleft;
}
.article__space-right {
  grid-area: spaceright;
}
@media screen and (min-width: 960px) {
  .article__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "share body body" "asidemain body body" "asidecontent body body";
  }
}
@media screen and (min-width: 1280px) {
  .article__main {
    grid-template-columns: 1fr minmax(0, 400px) minmax(0, 400px) minmax(0, 400px) minmax(0, 400px) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "spaceleft share body body asidecontent spaceright" "spaceleft asidemain body body asidecontent spaceright";
  }
}
.article__asidecontent {
  grid-area: asidecontent;
}
.article__body {
  grid-area: body;
}
.article__asidemain {
  grid-area: asidemain;
}
.article__share {
  grid-area: share;
}
.article__body {
  padding: 0 2rem;
}
@media screen and (min-width: 700px) {
  .article__body {
    padding: 0 4rem;
  }
}
.article__asidemain {
  padding: 2rem;
}
@media screen and (min-width: 700px) {
  .article__asidemain {
    padding: 4rem 0 4rem 4rem;
  }
}
@media screen and (min-width: 960px) {
  .article__asidemain {
    padding: 0 0 4rem 4rem;
  }
}
.article__asidemain p {
  display: none;
}
.article__asidecontent {
  padding: 2rem;
}
@media screen and (min-width: 700px) {
  .article__asidecontent {
    padding: 4rem 0 4rem 4rem;
  }
}
@media screen and (min-width: 960px) {
  .article__asidecontent {
    padding: 0 0 4rem 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .article__asidecontent {
    padding: 0 4rem 0 0;
  }
}
.article__asidecontent p {
  display: none;
}
.article__share {
  padding: 0 2rem;
}
@media screen and (min-width: 700px) {
  .article__share {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .article__share {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    padding: 4rem 0;
  }
}

.ad--vertical {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
@media screen and (min-width: 960px) {
  .ad--vertical {
    display: block;
  }
}
.ad--vertical-square {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 960px) {
  .ad--vertical-square {
    display: block;
  }
}
.ad--vertical-square img {
  width: 100%;
  height: auto;
  max-width: 400px;
}
.ad--horizontal {
  display: flex;
  justify-content: center;
}

.card__image {
  display: block;
  position: relative;
  margin: 0 0 2rem 0;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}
.card__image__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__title {
  margin: 0 0 1rem 0;
  font-family: "Archivo", sans-serif;
  line-height: 1.2;
  font-weight: 600;
  font-size: 1.4rem;
}
@media screen and (min-width: 700px) {
  .card__title {
    font-size: 1.8rem;
  }
}
.card__description {
  font-size: 1.4rem;
  line-height: 1.2;
}
@media screen and (min-width: 700px) {
  .card__description {
    font-size: 1.6rem;
    font-family: "Archivo", sans-serif;
    line-height: 1.7;
  }
}

.grid {
  width: 100%;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
}
@media screen and (min-width: 960px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  .grid {
    grid-gap: 8rem;
  }
}

.grid-5x {
  width: 100%;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  height: 1200px;
  max-height: 80vh;
}
@media screen and (min-width: 960px) {
  .grid-5x {
    height: 800px;
    max-height: 80vh;
    grid-gap: 4rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
  }
}
.grid-5x__item:first-of-type {
  grid-column: 1/3;
  grid-row: 1/3;
}

.breadcrumb {
  font-family: "Archivo", sans-serif;
  line-height: 1.7;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 1.2rem;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  display: none;
}
.breadcrumb p {
  line-height: 1.7;
  font-size: 1.2rem;
}
.breadcrumb__breadcrumb span {
  white-space: no-wrap;
}
.breadcrumb_last {
  visibility: hidden;
}

.hero-home {
  position: relative;
  display: grid;
  height: 100vh;
  max-height: 800px;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 960px) {
  .hero-home {
    padding-top: 4rem;
  }
}
@media screen and (min-width: 1600px) {
  .hero-home {
    padding-top: 8rem;
  }
}
.hero-home .grid-space {
  display: none;
}
@media screen and (min-width: 1280px) {
  .hero-home .grid-space {
    display: block;
  }
}
@media screen and (min-width: 960px) {
  .hero-home {
    height: 100vh;
    max-height: 800px;
    display: grid;
    grid-auto-rows: auto;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "intro image image";
  }
}
@media screen and (min-width: 1280px) {
  .hero-home {
    grid-template-columns: 1fr minmax(0, 400px) minmax(0, 400px) minmax(0, 400px) minmax(0, 400px) 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "space_left intro image image image image";
  }
}
@media screen and (min-width: 960px) {
  .hero-home__space-left {
    grid-area: space_left;
  }
  .hero-home__space-right {
    grid-area: space_right;
  }
  .hero-home__intro {
    grid-area: intro;
  }
  .hero-home__image {
    grid-area: image;
  }
}
.hero-home__image {
  position: relative;
}
.hero-home__image img {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-home__intro {
  background-color: #ffffff;
  position: relative;
  align-self: end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
}
@media screen and (min-width: 960px) {
  .hero-home__intro {
    padding: 4rem;
  }
}
.hero-home__intro__title {
  line-height: 1.2;
  color: #21201f;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 560px) {
  .hero-home__intro__title {
    word-break: break-word;
  }
}
@media screen and (min-width: 960px) {
  .hero-home__intro__title {
    margin-bottom: 4rem;
  }
}
.hero-home__intro__intro {
  margin-bottom: 2rem;
}
@media screen and (min-width: 960px) {
  .hero-home__intro__intro {
    margin-bottom: 4rem;
  }
}
.hero-home__intro__divider {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  height: 2px;
  display: block;
  position: relative;
  margin-bottom: 4rem;
  margin-bottom: 2rem;
}
.hero-home__intro__divider:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  top: 0;
  background-color: black;
}
@media screen and (min-width: 960px) {
  .hero-home__intro__divider {
    margin-bottom: 4rem;
  }
}
.hero-home__intro__link {
  margin-bottom: 2rem;
}
.hero-home__intro__link__link {
  color: inherit;
  border-bottom: 4px solid #21c4d3;
  display: inline;
}
.hero-home__intro__link__link:hover {
  color: #21c4d3;
}
.hero-home__intro__arrow {
  display: none;
}
@media screen and (min-width: 960px) {
  .hero-home__intro__arrow {
    z-index: 1;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
  }
}
.hero-home__intro__arrow span {
  display: block;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  transform-origin: center;
  background: #ffffff;
}

.hero-pillar {
  background-color: #E0E0E0;
  position: relative;
}
.hero-pillar .grid-space {
  display: none;
}
@media screen and (min-width: 1280px) {
  .hero-pillar .grid-space {
    display: block;
  }
}
@media screen and (min-width: 960px) {
  .hero-pillar {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "space_main image image image" "author title_lockup title_lockup title_lockup" "author intro intro intro";
  }
}
@media screen and (min-width: 1280px) {
  .hero-pillar {
    grid-template-columns: 1fr minmax(0, 400px) minmax(0, 400px) minmax(0, 400px) minmax(0, 400px) 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "space_left space_main image image image image" "space_left author title_lockup title_lockup title_lockup space_right_nobg" "space_left author intro intro intro space_right_nobg";
  }
}
.hero-pillar__space-left {
  grid-area: space_left;
}
.hero-pillar__space-right {
  grid-area: space_right;
}
.hero-pillar__space-right--nobg {
  grid-area: space_right_nobg;
  background: #ffffff;
}
.hero-pillar__space-main {
  display: none;
  grid-area: space_main;
}
@media screen and (min-width: 700px) {
  .hero-pillar__space-main {
    display: block;
  }
}
.hero-pillar__author {
  grid-area: author;
}
.hero-pillar__image {
  grid-area: image;
}
.hero-pillar__title-lockup {
  grid-area: title_lockup;
}
.hero-pillar__intro {
  grid-area: intro;
}
.hero-pillar__image {
  position: relative;
  height: 60vh;
  max-height: 300px;
}
@media screen and (min-width: 700px) {
  .hero-pillar__image {
    max-height: 400px;
  }
}
@media screen and (min-width: 960px) {
  .hero-pillar__image {
    max-height: 600px;
  }
}
.hero-pillar__image img {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-pillar__author {
  background-color: #21201f;
  position: relative;
  display: none;
}
@media screen and (min-width: 960px) {
  .hero-pillar__author {
    display: block;
  }
}
.hero-pillar__author__arrow {
  display: none;
}
@media screen and (min-width: 960px) {
  .hero-pillar__author__arrow {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
  }
}
.hero-pillar__author__arrow span {
  display: block;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  transform-origin: center;
  background: #21201f;
}
.hero-pillar__title-lockup {
  padding: 2rem 2rem 0 2rem;
  background: #ffffff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (min-width: 700px) {
  .hero-pillar__title-lockup {
    padding: 4rem;
    padding-bottom: 0;
  }
}
.hero-pillar__title {
  font-size: 4rem;
  line-height: 1.2;
  font-family: "Archivo Black", sans-serif;
  margin-bottom: 2rem;
}
@media screen and (min-width: 700px) {
  .hero-pillar__title {
    font-size: 4rem;
  }
}
@media screen and (min-width: 960px) {
  .hero-pillar__title {
    font-size: 5rem;
  }
}
@media screen and (min-width: 700px) {
  .hero-pillar__title {
    margin-bottom: 2rem;
  }
}
.hero-pillar__title--large {
  font-size: 4rem;
  line-height: 1.2;
  font-family: "Archivo Black", sans-serif;
}
@media screen and (min-width: 700px) {
  .hero-pillar__title--large {
    font-size: 6rem;
  }
}
@media screen and (min-width: 960px) {
  .hero-pillar__title--large {
    font-size: 7rem;
  }
}
.hero-pillar__breadcrumb {
  margin-bottom: 2rem;
}
@media screen and (min-width: 700px) {
  .hero-pillar__breadcrumb {
    margin-bottom: 2rem;
  }
}
.hero-pillar__meta {
  font-family: "Archivo", sans-serif;
  line-height: 1.7;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.hero-pillar__meta p {
  line-height: 1.7;
  font-size: 1.2rem;
}
@media screen and (min-width: 700px) {
  .hero-pillar__meta {
    margin-bottom: 4rem;
  }
}
.hero-pillar__intro {
  background: #ffffff;
  padding: 0 2rem 2rem 2rem;
}
@media screen and (min-width: 700px) {
  .hero-pillar__intro {
    padding: 0 4rem 4rem 4rem;
  }
}
@media screen and (min-width: 1600px) {
  .hero-pillar__intro {
    padding: 0 0 4rem 4rem;
  }
}
.hero-pillar__intro p {
  font-family: "Archivo", sans-serif;
  font-size: 2.2rem;
  line-height: 1.4;
}
@media screen and (min-width: 700px) {
  .hero-pillar__intro p {
    font-size: 2.8rem;
    line-height: 1.4;
  }
}

.hero-std {
  background-color: #E0E0E0;
  position: relative;
}
.hero-std .grid-space {
  display: none;
}
@media screen and (min-width: 1280px) {
  .hero-std .grid-space {
    display: block;
  }
}
@media screen and (min-width: 960px) {
  .hero-std {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "space_main image image image" "author title_lockup title_lockup title_lockup" "author intro intro intro";
  }
}
@media screen and (min-width: 1280px) {
  .hero-std {
    grid-template-columns: 1fr minmax(0, 400px) minmax(0, 400px) minmax(0, 400px) minmax(0, 400px) 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "space_left space_main image image image image" "space_left author title_lockup title_lockup title_lockup space_right_nobg" "space_left author intro intro intro space_right_nobg";
  }
}
.hero-std__space-left {
  grid-area: space_left;
}
.hero-std__space-right {
  grid-area: space_right;
}
.hero-std__space-right--nobg {
  grid-area: space_right_nobg;
  background: #ffffff;
}
.hero-std__space-main {
  display: none;
  grid-area: space_main;
}
@media screen and (min-width: 700px) {
  .hero-std__space-main {
    display: block;
  }
}
.hero-std__author {
  grid-area: author;
}
.hero-std__image {
  grid-area: image;
}
.hero-std__title-lockup {
  grid-area: title_lockup;
}
.hero-std__intro {
  grid-area: intro;
}
.hero-std__image {
  position: relative;
  height: 60vh;
  max-height: 300px;
}
@media screen and (min-width: 700px) {
  .hero-std__image {
    max-height: 400px;
  }
}
@media screen and (min-width: 960px) {
  .hero-std__image {
    max-height: 600px;
  }
}
.hero-std__image img {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-std__author {
  background-color: #21201f;
  position: relative;
  display: none;
}
@media screen and (min-width: 960px) {
  .hero-std__author {
    display: block;
  }
}
.hero-std__author__arrow {
  display: none;
}
@media screen and (min-width: 960px) {
  .hero-std__author__arrow {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
  }
}
.hero-std__author__arrow span {
  display: block;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  transform-origin: center;
  background: #21201f;
}
.hero-std__title-lockup {
  padding: 2rem 2rem 0 2rem;
  background: #ffffff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (min-width: 700px) {
  .hero-std__title-lockup {
    padding: 4rem;
    padding-bottom: 0;
  }
}
.hero-std__title {
  font-size: 4rem;
  line-height: 1.2;
  font-family: "Archivo Black", sans-serif;
  margin-bottom: 2rem;
}
@media screen and (min-width: 700px) {
  .hero-std__title {
    font-size: 4rem;
  }
}
@media screen and (min-width: 960px) {
  .hero-std__title {
    font-size: 5rem;
  }
}
@media screen and (min-width: 700px) {
  .hero-std__title {
    margin-bottom: 2rem;
  }
}
.hero-std__title--large {
  font-size: 4rem;
  line-height: 1.2;
  font-family: "Archivo Black", sans-serif;
}
@media screen and (min-width: 700px) {
  .hero-std__title--large {
    font-size: 4rem;
  }
}
@media screen and (min-width: 960px) {
  .hero-std__title--large {
    font-size: 5rem;
  }
}
.hero-std__breadcrumb {
  margin-bottom: 2rem;
}
@media screen and (min-width: 700px) {
  .hero-std__breadcrumb {
    margin-bottom: 2rem;
  }
}
.hero-std__meta {
  font-family: "Archivo", sans-serif;
  line-height: 1.7;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.hero-std__meta p {
  line-height: 1.7;
  font-size: 1.2rem;
}
@media screen and (min-width: 700px) {
  .hero-std__meta {
    margin-bottom: 4rem;
  }
}
.hero-std__intro {
  background: #ffffff;
  padding: 0 2rem 2rem 2rem;
}
@media screen and (min-width: 700px) {
  .hero-std__intro {
    padding: 0 4rem 4rem 4rem;
  }
}
@media screen and (min-width: 1600px) {
  .hero-std__intro {
    padding: 0 0 4rem 4rem;
  }
}
.hero-std__intro p {
  font-family: "Archivo", sans-serif;
  font-size: 2.2rem;
  line-height: 1.4;
}
@media screen and (min-width: 700px) {
  .hero-std__intro p {
    font-size: 2.8rem;
    line-height: 1.4;
  }
}

.header {
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  box-sizing: content-box;
}
.header__inner {
  width: 100%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  height: 100%;
  height: 120px;
  padding: 2rem;
}
.header__logo-lockup {
  display: block;
  align-items: center;
  height: 50px;
  width: auto;
}
.header__trigger {
  color: #000000;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
}
@media screen and (min-width: 1280px) {
  .header__trigger {
    display: none;
  }
}
.header__trigger__icon {
  width: 20px;
  height: 20px;
}
.header__trigger__label {
  font-family: "Archivo", sans-serif;
  line-height: 1.7;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
  line-height: 1;
  margin-right: 0.5em;
  position: relative;
  top: 0.15em;
}
.header__trigger__label p {
  line-height: 1.7;
  font-size: 1.4rem;
}
.header__menu {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__menu {
    display: block;
    margin-left: auto;
  }
}
.header__menu ul {
  display: flex;
  align-items: center;
}
.header__menu li {
  margin: 0;
}
.header__menu li a {
  display: block;
  font-family: "Archivo", sans-serif;
  line-height: 1.7;
  font-weight: 600;
  letter-spacing: 0.05em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2em;
}
@media screen and (min-width: 560px) {
  .header__menu li a {
    font-size: 1.4rem;
  }
}
.header__menu li a p {
  line-height: 1.7;
}
.header__menu li a:last-of-type {
  padding-right: 0;
}

.mobile-menu {
  display: block;
  background-color: #f2f2f2;
  height: auto;
  width: 100%;
  position: absolute;
  top: 120px;
  right: 0;
  transform: translateX(100%);
  border-top: rgba(0, 0, 0, 0.2) solid 1px;
  opacity: 0;
  height: calc(100vh - 120px);
}
@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}
@keyframes movein {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveout {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
.mobile-menu.open {
  animation-name: movein;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-direction: normal;
}
.mobile-menu.close {
  animation-name: moveout;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-direction: normal;
}
.mobile-menu__inner {
  padding-top: 4rem;
}
@media screen and (min-width: 560px) {
  .mobile-menu__inner {
    padding-top: 4rem;
  }
}
.mobile-menu__group__title {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.mobile-menu .nav__item {
  background-color: #f2f2f2;
  display: block;
  margin-bottom: 2rem;
}
@media screen and (min-width: 700px) {
  .mobile-menu .nav__item {
    margin-bottom: 2rem;
  }
}
.mobile-menu .nav__item span {
  color: #21201f;
  border-bottom: 4px solid #21c4d3;
  display: inline;
}
.mobile-menu .nav__item span:hover {
  color: #21c4d3;
}

.progress-indicator {
  background-color: #f2f2f2;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 5px;
  top: 120px;
  z-index: 100;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.progress-indicator.hidden {
  visibility: hidden;
  opacity: 0;
}
.progress-indicator.visible {
  visibility: visible;
  opacity: 1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100vw;
  height: 5px;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 5px;
  background: #21201f;
  width: 0%;
}

.button {
  cursor: pointer;
  padding: 1em;
  display: inline-block;
  width: auto;
  text-align: center;
  position: relative;
  text-decoration: none !important;
  background-color: #21201f;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.button:hover {
  color: #ffffff;
  background-color: #141313;
}
.button:active {
  color: #ffffff;
  background-color: #141313;
}
@media screen and (min-width: 560px) {
  .button {
    padding: 1em 1.3em;
  }
}
.button--alt {
  background-color: #ffffff;
  color: #21201f;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.button--alt:hover {
  color: #21c4d3;
  background-color: #f2f2f2;
}
.button--alt:active {
  color: #21c4d3;
  background-color: #f2f2f2;
}
.button--outline {
  background-color: transparent;
  color: #21201f;
  border: #21201f 1px solid;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.button--outline:hover {
  color: #ffffff;
  background-color: #141313;
}
.button--outline:active {
  color: #ffffff;
  background-color: #141313;
}
.button__inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button--small {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4;
}
@media screen and (min-width: 560px) {
  .button--small {
    padding: 0.8em 1em;
  }
}

.body-content blockquote.pq {
  margin: 4rem;
  margin-left: 0;
  padding-top: 1.5em;
  width: 100%;
  font-size: 3rem;
  background-image: url("../assets/images//quotemark.svg");
  background-repeat: no-repeat;
  background-size: 1.5em;
}
@media screen and (min-width: 960px) {
  .body-content blockquote.pq {
    margin: 4rem;
    padding-top: 0;
    padding-left: 2.5em;
    margin-left: 4rem;
    margin-top: 0;
    margin-bottom: 2rem;
    float: right;
    max-width: 20em;
  }
}
.body-content blockquote.cite {
  display: block;
  border-left: 10px solid #21c4d3;
  padding-left: 2rem;
}
.body-content__outset-image {
  margin: 4rem;
  width: 100%;
  max-width: 30vw;
  float: right;
}
.body-content__outset-image img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 960px) {
  .body-content__outset-image {
    margin: 4rem;
    margin-left: 4rem;
    margin-top: 0;
    margin-bottom: 2rem;
    max-width: 20em;
  }
}

.backtop {
  border-radius: 4px 4px 0 0;
  text-align: center;
  position: sticky;
  width: 100vw;
  padding-left: 5vw;
  padding-right: 5vw;
  bottom: -1px;
  left: 0;
  color: #21201f;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.backtop__inner {
  height: 100%;
  position: relative;
  padding: 1em 1.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebebeb;
  border-radius: 4px;
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.backtop__inner.fadeout {
  animation: fadeout 0.5s;
  animation-fill-mode: forwards;
}
.backtop__inner.fadein {
  animation: fadein 0.5s;
  animation-fill-mode: forwards;
}
.backtop__inner span {
  color: inherit;
  border-bottom: 4px solid #21c4d3;
  display: inline;
  display: inline-block;
  margin-left: 1em;
  color: #000000;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.backtop__inner span:hover {
  color: #21c4d3;
}
.backtop__inner:hover {
  background-color: #ffffff;
}
.backtop__inner:hover span {
  color: inherit;
  border-bottom: 4px solid #21c4d3;
  display: inline;
  display: inline-block;
  margin-left: 1em;
  color: #21201f;
}
.backtop__inner:hover span:hover {
  color: #21c4d3;
}
.backtop__inner:hover .backtop__icon {
  animation: pulse 3s infinite;
}
@keyframes pulse {
  0% {
    fill: #21201f;
  }
  20% {
    fill: #ff4e2e;
  }
  80% {
    fill: #86e254;
  }
  100% {
    fill: #21201f;
  }
}
.backtop__icon {
  transform: rotate(180deg);
  color: #21201f;
  width: 30px;
  height: 30px;
}

.footer {
  width: 100%;
}
.footer__inner {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media screen and (min-width: 960px) {
  .footer__links {
    border-right: 4px solid #ffffff;
  }
}
.footer__links a {
  font-weight: 600;
}
.footer__links:last-of-type {
  border-right: none;
}

.wheretoeat {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.wheretoeat__featured {
  display: flex;
  align-items: stretch;
}
.wheretoeat__index {
  margin-bottom: 4rem;
}
.wheretoeat__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.whattoeat {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.whattoeat__index {
  padding-bottom: 4rem;
}
.whattoeat__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.divider-down {
  position: relative;
  width: 100%;
  display: block;
  height: 4px;
  background-color: #000000;
}
.divider-down__triangle {
  z-index: 1;
  left: 25px;
  top: -7px;
  border: solid black;
  border-width: 0 4px 4px 0;
  display: block;
  width: 20px;
  height: 20px;
  transform-origin: 50% 50%;
  background-color: #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 0;
}

.author {
  background-color: #21201f;
  color: #ffffff;
}
@media screen and (min-width: 700px) {
  .author {
    display: block;
    padding: 2rem;
  }
}
@media screen and (min-width: 960px) {
  .author {
    padding: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .author {
    padding: 4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "profile about" "socials socials";
  }
}
.author__profile {
  grid-area: profile;
}
.author__about {
  grid-area: about;
}
.author__socials {
  grid-area: socials;
}
.author a {
  color: #ffffff;
}
.author__profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 4rem 0;
}
@media screen and (min-width: 1280px) {
  .author__profile {
    padding: 0 4rem 0 0;
  }
}
.author__profile__image {
  width: 90px;
  height: 90px;
  display: block;
  border-radius: 50%;
}
.author__about {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4;
  max-width: none;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .author__about {
    text-align: left;
  }
}
.author__about__description {
  margin-bottom: 2rem;
}
@media screen and (min-width: 700px) {
  .author__about__description {
    margin-bottom: 2rem;
  }
}
.author__about__link a {
  color: inherit;
  border-bottom: 4px solid #21c4d3;
  display: inline;
}
.author__about__link a:hover {
  color: #21c4d3;
}
.author__socials {
  text-align: center;
  padding: 4rem 0 0 0;
}
.author__socials__divider {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  height: 2px;
  display: block;
  position: relative;
  margin-bottom: 4rem;
  margin-bottom: 4rem;
}
.author__socials__divider:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  top: 0;
  background-color: black;
}
.author__socials__title {
  font-family: "Archivo", sans-serif;
  line-height: 1.7;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.author__socials__title p {
  line-height: 1.7;
  font-size: 1.4rem;
}
@media screen and (min-width: 700px) {
  .author__socials__title {
    margin-bottom: 2rem;
  }
}
.author__socials__links__item {
  margin: 0.5em;
  color: inherit;
  border-bottom: 4px solid #21c4d3;
  display: inline;
}
.author__socials__links__item:hover {
  color: #21c4d3;
}

/*# sourceMappingURL=main.css.map */