.ad{
    &--vertical{
        width:100%;
        @include align(center, center);
        display: none;
        @include break(medium) {
            display: block;
        }
    }
    &--vertical-square{
        width:100%;
        @include align(center, center);
        @include break(medium) {
            display: block;
        }
        img{
            width:100%;
            height:auto;
            max-width:400px;
        }
    }
    &--horizontal{
        display:flex;
        justify-content: center;
    }
}