.article{
    .grid-space{
        padding:0;
        display:none;
        @include break(large) {
            display: block;
        }
    }
    &__space-left{
        grid-area:spaceleft;
    }
    &__space-right{
        grid-area:spaceright;
    }

    &__main{
        @include break(medium) {
            display:grid;
            grid-template-columns:repeat(3, 1fr);
            grid-template-rows:auto auto 1fr;
            grid-template-areas:
            "share body body"
            "asidemain body body"
            "asidecontent body body";
        }
        @include break(large) {
            grid-template-columns:1fr minmax(0, 400px) minmax(0, 400px) minmax(0, 400px) minmax(0, 400px) 1fr;
            grid-template-rows:auto 1fr;
            grid-template-areas:
            "spaceleft share body body asidecontent spaceright"
            "spaceleft asidemain body body asidecontent spaceright";
        }
    }
    
    &__asidecontent{
        grid-area:asidecontent;
    }
    &__body{
        grid-area:body;
    }
    &__asidemain{
        grid-area:asidemain;
    }
    &__share{
        grid-area:share;
    }
    &__body{
        padding-bottom:$gap;
        @include break(medium) {
            padding:$gap--responsive;
            padding-top:0;
        }
        @include break(large) {
            padding-bottom:0;
        }
        &__main{
            @extend %text-body-format;
        }
    }
    &__intro{
        @include text-leadin;
        @include text-gap--tight;
    }
    &__asidecontent{
        padding-bottom:$gap;
        @include break(medium) {
            padding-bottom:$gap--responsive;
        }
        @include break(large) {
            padding:0 $gap--responsive 0 0;
        }
    }
    &__asidemain{
        @include break(tablet) {
            padding-bottom:$gap--responsive;
        }
    }
    &__share{
        @include break-under(medium) {
            @include text-gap--tight;
        }
        @include break(medium) {
            @include align(center, right);
            text-align:right;
            padding:$gap--responsive 0;
        }
    }

}