.block-card--horiz{
    margin-bottom: 0;
    &:first-of-type{
        border-top: 0;
        padding-top: 0;
    }
    @include break(medium) {
        display: grid;
        align-items: center;
        grid-gap:$gap--tight/2;
        grid-template-columns: 1fr 2fr;
    }
    &__image{
        @include image--rect;
        @include break-under(medium) {
            margin-bottom:$gap--tight/2;
        }
    }
    br{
        display: none;
    }
}