.divider-down{
    $arrowsize:35px;
    $arrowsizeinner:20px;
    position:relative;
    width:100%;
    display:block;
    height:4px;
    background-color:$black;
    &__triangle{
        z-index:1;
        left:25px;
        top:-7px;
        border: solid black;
        border-width: 0 4px 4px 0;
        display: block;
        width:$arrowsizeinner;
        height:$arrowsizeinner;
        transform-origin: 50% 50%;
        background-color:$color-bg;
        transform: rotate(45deg);
        position:absolute;
        right:0;
    }
}