.footer{
    @include component-dark;
    width: 100%;
    &__menu{
        @include break-under(phone) {
            @include align-center;
            text-align: center;
        }
    }
    &__logo{
        display: block;
        width: 100%;
        @include align-center;
        margin-top: $gap/2;
        margin-bottom: $gap/2;
        @include break(medium) {
            margin-top: 0;
            @include align-left-center;
        }
        &__svg{
            height: 35px;
            width: 200px;
        }
    }
    &__social-links{
        @include break(medium) {
            @include align-left-center;
        }
        &__title{
            text-align: center;
            @include text-blocky--tiny;
            margin: 0;
            padding-bottom: .5em;
            @include break(medium) {
                text-align: left;
                padding-right:$gap/4;
                padding-bottom: 0;
            }
        }
        &__links{
            @include align-center;
            &__item{
                display:block;
                margin:5px 10px;
                width:20px;
                height:20px;
                svg{
                    width:20px;
                    height:20px;
                }
                &:last-of-type{
                    padding-right:0;
                }
            }
        }
    }
}