.grid-3_1{
    display: grid;
    grid-template-columns:1fr;
    grid-auto-rows: auto;
    grid-gap:$gap--tight;
    @include break(medium) {
        grid-gap:$gap;
        grid-template-columns:1fr 1fr;
        grid-template-areas:
        "block_1 block_2"
    }
    @include break(large) {
        grid-template-columns:repeat(4, 1fr);
        grid-auto-rows: auto;
        grid-template-areas:
        "block_1 block_1 block_1 block_2";
    }
    @include break(medium) {
        &__block-1{
            grid-area: block_1;
        }
        &__block-2{
            grid-area: block_2;
        }
    }
}