.grid-4x{
    @include grid;
    grid-auto-rows: auto;
    grid-template-columns:1fr 1fr;
    grid-template-areas:
    "block_1 block_2"
    "block_3 block_4";
    @include break(medium) {
        grid-template-columns:repeat(4, 1fr);
        grid-auto-rows: auto;
        grid-template-areas:
        "block_1 block_2 block_3 block_4";
    }
    &__block-1{
        grid-area: block_1;
    }
    &__block-2{
        grid-area: block_2;
    }
    &__block-3{
        grid-area: block_3;
    }
    &__block-4{
        grid-area: block_4;
    }
}