.hero-home{
    $color-bg:linear-gradient(#393939, #1A1A1A);
    .grid-space{
        display:none;
        @include break(large) {
            display:block;
        }
    }
    // Flex layout for mobile layout -------
    @include break-under(tablet) {
        height: calc(100vh - #{$header-height-mobile});
        display: flex;
        flex-direction: column;
    }
    // Grid layout -------
    @include break(tablet) {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns:1fr 1fr;
        grid-template-areas:
        "intro image";
    }
    @include break(large) {
        grid-template-columns:20% 20% 20% 20% 20%;
        grid-template-rows:1fr;
        grid-template-areas:
        "intro intro image image image";
    }
    @include break(tablet) {
        &__space-left{
            grid-area:space_left;
        }
        &__space-right{
            grid-area:space_right;
        }
        &__intro{
            grid-area:intro;
        }
        &__image{
            grid-area:image;
        }
    }


    // Styling --------

    &__image{
        flex-grow:1;
        @include break-under(tablet) {
            margin-bottom: 1em;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__intro{
        @include component-dark;
        background-image: $color-bg;
        position:relative;
        display: flex;
        flex-direction: column;
        padding:$gap--tight;
        text-align: center;
        @include break(phone){
            padding:clamp($gap--tight, 4vw, $gap*2);
        }
        @include break(tablet) {
            justify-content: center;

        }
        @include break(sitewidth) {
            border-top-left-radius: 5px;
        }
        &__title{
            @include title(3.2rem);
            margin-bottom:$gap--tight;
        }
        &__icons{
            display: flex;
            justify-content: center;
            color: #99D6ED;
            gap: clamp(30px, 1.5vw, 80px);
            svg{
                fill:currentColor;
                width: 40px;
            }
            @include break-under(tablet) {
                display: none;
            }
        }
        &__link{
            margin-bottom: 0;
            &__link{
                @include link-styled;
            }
        }
    }
}