.hero-home{
    $color-bg:$color-bg-grey;
    .grid-space{
        display:none;
        @include break(large) {
            display:block;
        }
    }
    // Flex layout for mobile layout -------
    @include break-under(tablet) {
        height: calc(100vh - #{$header-height-mobile});
        display: flex;
        flex-direction: column;
    }
    // Grid layout -------
    @include break(tablet) {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns:1fr 1fr;
        grid-template-areas:
        "intro image";
    }
    @include break(large) {
        grid-template-columns:1fr minmax(0, 400px) minmax(0, 400px) minmax(0, 400px) minmax(0, 400px) 1fr;
        grid-template-rows:1fr;
        grid-template-areas:
        "space_left intro intro image image space_right";
    }
    @include break(tablet) {
        &__space-left{
            grid-area:space_left;
        }
        &__space-right{
            grid-area:space_right;
        }
        &__intro{
            grid-area:intro;
        }
        &__image{
            grid-area:image;
        }
    }


    // Styling --------

    &__image{
        flex-grow:1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__intro{
        position:relative;
        display: flex;
        flex-direction: column;
        padding:$gap--tight;
        background: $color-bg;
        @include break(phone){
            padding:clamp($gap--tight, 6vw, $gap*2);
        }
        @include break(tablet) {
            justify-content: center;

        }
        @include break(site-width) {
            border-top-left-radius: 5px;
        }
        &__title{
            @include title-display;
            margin-bottom:$gap--tight;
        }
        &__intro{
            margin-bottom:$gap--tight;
            @include break(medium){
                margin-bottom: $gap--tight;
            }
        }
        &__divider{
            @include divider--dark;
            margin-bottom:$gap--tight;
            @include break(medium){
                margin-bottom: $gap;
            }
        }
        &__link{
            margin-bottom: 0;
            &__link{
                @include link-styled;
            }
        }
        &__arrow{
            display: none;
            @include break(medium) {
                z-index: 1;
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(50%, -50%);
            }
            span{
                display: block;
                width: 100%;
                height: 100%;
                transform: rotate(45deg);
                transform-origin: center;
                background: $color-bg;
            }
        }
    }
}