.page-info{
    &>div:first-of-type{
        background-color:$off-white;
    }
    &__title{
        @include title-display;
        @include text-gap--tight;
    }
    &__body{
        padding-bottom:$gap;
        @extend %text-body-format;
        @include break(large) {
            padding-bottom:0;
        }
    }
}