.pillar{
    .grid-space{
        padding:0;
        display:none;
        @include break(large) {
            display: block;
        }
    }

    &__section{
        &:nth-of-type(odd){
            background-color:$color-bg-beige;
        }
        @include break(medium) {
            display:grid;
            grid-template-columns:repeat(3, 1fr);
            grid-template-rows:auto auto 1fr;
            grid-template-areas:
            "asidemain title title"
            "asidemain body body"
            "asidecontent body body";
        }
        @include break(large) {
            grid-template-columns:1fr minmax(0, 400px) minmax(0, 400px) minmax(0, 400px) minmax(0, 400px) 1fr;
            grid-template-rows:auto 1fr;
            grid-template-areas:
            "spaceleft asidemain title title title spaceright"
            "spaceleft asidemain body body asidecontent spaceright";
        }
        &__title{
            grid-area:title;
        }
        &__space-left{
            grid-area:spaceleft;
        }
        &__space-right{
            grid-area:spaceright;
        }
        &__share{
            grid-area:share;
        }
        &__body{
            grid-area:body;
        }
        &__asidecontent{
            grid-area:asidecontent;
        }
        &__asidemain{
            grid-area:asidemain;
        }
        &__title{
            @include title-display;
            padding-top:0;
            @include text-gap--tight;
            @include break(medium) {
                padding-left:$gap--responsive;
                padding-right:$gap--responsive;
            }
        }
        &__body{
            padding-bottom:$gap;
            @include break(medium) {
                padding:$gap--responsive;
                padding-top:0;
            }
            @include break(large) {
                padding-bottom:0;
            }
            &__main{
                @extend %text-body-format;
            }
        }
        &__asidecontent{
            padding-bottom:$gap;
            @include break(medium) {
                padding-bottom:$gap--responsive;
            }
            @include break(large) {
                padding:0 $gap--responsive 0 0;
            }
            p{
                display: none;
            }
        }
        &__asidemain{
            @include break(tablet) {
                padding-bottom:$gap--responsive;
            }
            p{
                display: none;
            }
        }
        &__share{
            @include break-under(medium) {
                @include text-gap--tight;
            }
            @include break(medium) {
                @include align-right;
                text-align:right;
                padding:$gap--responsive 0;
            }
        }
    }
}