.pillar-head{
    padding-bottom:$gap;
    @include break(medium) {
        display:grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows:auto auto 1fr;
        grid-template-areas:
        "share body body"
        "asidemain body body"
        "asidecontent body body";
    }
    @include break(large) {
        grid-template-columns:1fr minmax(0, 400px) minmax(0, 400px) minmax(0, 400px) minmax(0, 400px) 1fr;
        grid-template-rows:auto 1fr;
        grid-template-areas:
        "spaceleft share body body asidecontent spaceright"
        "spaceleft asidemain body body asidecontent spaceright";
    }

    &__share{
        grid-area:share;
    }
    &__body{
        grid-area:body;
    }
    &__asidecontent{
        grid-area:asidecontent;
    }
    &__asidemain{
        grid-area:asidemain;
    }
    &__body{
        @include break(medium) {
            padding:$gap--responsive;
            padding-top:0;
        }
    }
    &__asidecontent{
        padding-bottom:$gap;
        @include break(medium) {
            padding-bottom:$gap--responsive;
        }
        @include break(large) {
            padding:0 $gap--responsive 0 0;
        }
        p{
            display: none;
        }
    }
    &__asidemain{
        @include break(tablet) {
            padding-bottom:$gap--responsive;
        }
        p{
            display: none;
        }
    }
    &__share{
        @include break-under(medium) {
            @include text-gap--tight;
        }
        @include break(medium) {
            @include align(center, right);
            text-align:right;
            padding:$gap--responsive 0;
        }
    }
}