.post-list{
    &__item{
        max-width: 1000px;
        &:first-of-type{
            border-top: 0;
            padding-top: 0;
        }
        &__title{
            @include title;
            @include text-gap--tight;
        }
        &__description{
            @include text-gap--tight;
        }
    }
}