.sidebar-list{
    display: grid;
    grid-gap:$gap--tight;
    grid-auto-rows: auto;
    grid-template-columns:1fr 1fr;
    @include break(tablet) {
        grid-template-columns:repeat(3, 1fr);
    }
    @include break(medium) {
        grid-template-columns:1fr;
    }
}