.wpcf7-form{
    p{
        margin-bottom: 0;
    }
    max-width: 500px;
    input, textarea{
        width: 100%;
        @include font-std;
    }
    input[type='submit']{
        width: auto;
    }
}